#upper{
    margin: auto;
   width: 70%; 
   border: 1px solid white;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   height: 100%
}
#upper>h1{
    width: 35%;
   
    margin: auto;
    margin-bottom: 2%;
    margin-top: 3%;
}
#box{
cursor: pointer;
width: 40%;
margin: auto;
margin-left: 20%;
display: flex;
border: 1px solid blueviolet;
} 
#box>p{
margin-left: 2%;
}
#box>h3{

margin: auto;
margin-left: 48%;
color: blueviolet;
}
#border{
display: flex;
margin-left: 20%;
}
#border>p{
margin-left: 15px;
margin-right: 15px;
font-weight: bold;
color: black;
}
#border1{
height: 0px;
border: 1px solid grey;
width: 16%;
margin-top: 20px;
background-color: grey;
}
#border2{
height: 0px;
border: 1px solid grey;
width: 15%;
margin-top: 20px;
background-color: grey;
}
#p{
margin-left: 29%;
font-size: 10px;
}
#form{
display: grid;
grid-template-columns: repeat(2,1fr);
width: 70%;
height: 10%;
margin-left: 4%;
/* margin: auto; */
}
#form>input{
width: 83%;
padding: 10px 20px;
margin: 20px 12px;
margin-left: -5px;
}
#form>input:nth-child(7){
width: 183%
}
#skill{
margin-left: 4%;
margin-top: -2%;
}
#upload{
cursor: pointer;
width: 15%;
margin: auto;
font-weight: bold;
border: 1px solid blueviolet;
padding: 15px 60px;
text-align: center;
margin-left: 27%;
}
#uploadbottom{
font-size: 10px;
margin-left: 28%;
margin-top: 1%;
}
#uploadup{

margin-left: 15%;
margin-top: 1%;
}
#uploadup>a{
color: blueviolet;
text-decoration: none;
}
#hover{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 30px;
}
#hover>img{
    height: 20px;
}
#hover>p{
    margin-top: 0px;
}
#register{
border-radius: 5px;
cursor: pointer;
font-size: 18px;
color: white;
font-weight: bold;
border: 1px solid transparent;
margin-left: 35%;
margin-top: 1%;
margin-bottom: 3%;
padding: 10px 20px;
text-align: center;
background-color: #8652ff;
}
#alt{
    width: 100%;
    border: 1px solid transparent;
    margin-bottom: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#alt>img{
    margin-left: 5%;
    height: 50px;
}
#flex{
display: grid;
grid-template-columns: repeat(3,40%);
}
#flex>div:nth-child(1){
width: 250%;
}
#flex>div:nth-child(2){
width: 20%;
/* margin-left: 20%; */
}
#Hello{
background-color: rgb(224, 219, 219);
margin-left: 450%;
margin-top: 10%;
border: 1px solid transparent;
width: 1%;
height: 40%;
}
#Hello1{
background-color: rgb(224, 219, 219);
margin-left: 450%;
margin-top: 10%;
border: 1px solid transparent;
width: 1%;
height: 40%;
}
#or2{
margin-left: 445%;
}
#google{
cursor: pointer;
width: 30%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
display: flex;
border: 1px solid transparent;
margin-top: 10%;
}
#google>img{
    margin-top: 10px;
    margin-right: 10px;
height: 30px;
}
@media screen and (min-width:220px) and (max-width:480px){
    #link1{
        margin-left: -20%;
    }
    #upper{
        margin: auto;
       width: 90%; 
       border: 1px solid white;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       height: 100%
    }
    #form{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 70%;
        height: 10%;
        margin-left: 4%;
        /* margin: auto; */
        }
        #google{
            cursor: pointer;
            width: 55%;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            display: flex;
            border: 1px solid transparent;
            margin-top: 10%;
            }
            #google>p{
                width: 30%;
            }
            #form>input{
                width: 70%;
                padding: 10px 20px;
                margin: 20px 12px;
                margin-left: -5px;
                }
                #Hello{
                    background-color: rgb(224, 219, 219);
                    margin-left: 350%;
                    margin-top: 10%;
                    border: 1px solid transparent;
                    width: 1%;
                    height: 40%;
                    }
                    #Hello1{
                    background-color: rgb(224, 219, 219);
                    margin-left: 350%;
                    margin-top: 10%;
                    border: 1px solid transparent;
                    width: 1%;
                    height: 40%;
                    }
}
@media screen and (min-width:480px) and (max-width:780px){
    #upper{
        margin: auto;
       width: 80%; 
       border: 1px solid white;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       height: 100%
    }
    #form{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 60%;
        height: 10%;
        margin-left: 4%;
        /* margin: auto; */
        }
}
@media screen and (min-width:780px) and (max-width:1200px){
    #upper{
        margin: auto;
       width: 80%; 
       border: 1px solid white;
       box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
       height: 100%
    }
    #google{
        cursor: pointer;
        width: 45%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        display: flex;
        border: 1px solid transparent;
        margin-top: 10%;
        }
        #form>input{
            width: 70%;
            padding: 10px 20px;
            margin: 20px 12px;
            margin-left: -5px;
            }
}