.method{
    cursor: pointer;
    border: 1px solid rgb(198, 197, 197);
    width: 100%;
    margin: auto;
    display: flex;
    gap: 20px;
}
#payment{
    margin: auto;
    margin-top: 5%;
    width: 30%;
    overflow-y: scroll;
    height: 400px;
}
#display33{
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 98%;
    display: grid;
   
    grid-template-columns: repeat(1,1fr);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /* grid-template-rows: 40px 40px; */
}
#display33>input{
     margin: 10px 10px;
     padding: 10px 20px;
}
.method:hover{
      background-color: rgb(161, 213, 237);
    border: 1px solid blue;
}
.method>img{
    margin-top: 20px;
    margin-left: 15px;
    height: 20px;
}
#payimage{
    display: flex;
    gap: 10px;
}
#payimage>img{
    margin-top: -10px;
    height: 30px;
}
#paymeth{
    border: 1px solid  rgb(243, 238, 238);
    width: 98%;
    margin: auto;
}
#firt44{
    margin-left: 10px;
}